<div class="fit-image p-5" style="background-image: radial-gradient(rgba(50, 50, 50, .1), rgba(10, 10, 10, 1)), url(<%= image_path 'galaxy.png'%>);height:100vh">
  <div class="d-flex justify-content-center align-items-center flex-column my-5">
  <div class="bg-light rounded">
    <h1 class="text-dark p-4 fs-1 fw-bolder">Add your time machine</h1>
    <%= simple_form_for(@machine) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-dark px-3">
        <%= f.input :name%>
        <%= f.input :size %>
        <%= f.input :speed%>
        <%= f.input :comfort%>
        <%= f.input :price%>
      </div>

      <div class="form-actions d-flex justify-content-center py-3">
        <%= f.button :submit, "Add Machine", class:"btn btn-primary rounded" %>
      </div>
    <% end %>
  </div>
  </div>
</div>
