<div class="fit-image p-5" style="background-image:url(<%= image_path 'new_back.jpg'%>); min-height: 100vh; position:relative">
  <div class="container d-flex justify-content-center">
    <div class="background-lightest-purple p-5 rounded-5 text-white fs-5 form-box-shadow" style="width:33rem">
      <h1>Add Your Time Machine</h1>
      <%= simple_form_for @machine, class:"input-focus" do |f| %>
      <div class="form-border-color my-4 p-5 rounded-4" style="border: 1px solid #E5B8F4;">
        <%= f.input :name, input_html: { class: 'form-control', style: 'border-color: #C147E9;' } %>
        <%= f.input :speed, input_html: { class: 'form-control', style: 'border-color: #C147E9;' } %>
        <%= f.input :comfort, input_html: { class: 'form-control', style: 'border-color: #C147E9;' } %>
        <%= f.input :size, input_html: { class: 'form-control', style: 'border-color: #C147E9;' } %>
        <%= f.input :price, input_html: { class: 'form-control', style: 'border-color: #C147E9;' } %>
        <%= f.input :photo, as: :file, input_html: { class: 'form-control', style: 'border-color: #C147E9;' }  %>
      </div>
      <%= f.button :submit, "Add Time Machine", class:" w-100 fs-5 fw-bolder btn btn-primary" %>
      <% end %>
    </div>
  </div>
<div class="go-back-navigation"><%= link_to time_machines_path do%><i class="fa-solid fa-arrow-left-long"></i><%end%></div>
</div>
