<div data-renter-target="bookform" data-renter-params-value="<%=@machine.to_json%>" class="fit-image d-flex justify-content-center align-items-center border" data-controller="renter" style="background-image: radial-gradient(rgba(50, 50, 50, .1), rgba(10, 10, 10, 1)), url(<%= image_path 'galaxy.png'%>); min-height: 100vh">
  <div class="px-5 rounded-5 text-white fs-5 form-box-shadow d-flex align-items-center flex-column" style="">
    <h2 class="fw-bolder my-3"><%=@machine.name%></h2>
    <img class="show-card-image" src="https://images.unsplash.com/photo-1635672992730-75d116f94971?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="text-center  text-white w-100 mt-3 rounded-5">
      <p>Speed: <%= @machine.speed || "Not Specified" %></p>
      <p>Comfort: <%= @machine.comfort || "Not Specified" %></p>
      <p>Size: <%= @machine.size || "Not Specified" %></p>
      <p>Price: <%= "#{@machine.price}$" || "Not Specified" %></p>
    </div>
      <div class="my-3">
        <a class="btn btn-primary px-5 fw-bolder" data-action="click->renter#buttonClick">Rent</a>
      </div>
  </div>
    <!-- Modal content -->
  <div data-renter-target="modal" class="show-modal">
    <div class=" modal-content px-5 rounded-5 text-white fs-5 form-box-shadow d-flex align-items-center flex-column" style="">
      <h2 class="fw-bolder my-3">Booking</h2>
      <div class="text-center text-darkpurple w-100 mt-3 rounded-5">
      <%# action="<%= time_machine_bookings_path(@machine)" method="POST" %>
      <form data-renter-target="form" data-action="submit->renter#send">
        <div class="d-flex">
          <div>
          <label for="booking[start_date]" class="text-white" >Start Date</label>
          <input name="booking[start_date]" data-renter-target="startdate" data-action="change->renter#calculatePrice" id="startdate" data-controller="datepicker"/>
          </div>
          <div>
          <label for="booking[end_date]" class="text-white" >End Date</label>
          <input name="booking[end_date]" data-renter-target="enddate" data-action="change->renter#calculatePrice" id="enddate" data-controller="datepicker"/>
          </div>
        </div>
        <div class="alert d-none" role="alert" data-renter-target="message">
        </div>
        <div class="px-5 d-flex flex-column my-3">
          <%# <div class="d-flex justify-content-evenly"><label class="text-white">Days:</label><div data-renter-target="days" class="text-white d-inline-block"></div></div> %>
          <div class="d-flex justify-content-evenly"><label class="text-white">Price:</label><div data-renter-target="price" class="text-white d-inline-block">0$</div></div>
        </div>
        <div class="my-3">
          <input type="submit" name="submit" class="btn btn-primary px-5 fw-bolder" data-action="click->renter#buttonClick" value="Book"/>
        </div>
      </form>
      </div>
    </div>
</div>
