<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <!-- Left-aligned logo -->
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "hourglass.png" %>
        <h4 class="logo-title ms-2 mb-0">TimeFlies</h4>
      <% end %>
    </div>

    <!-- Right-aligned user menu and button -->
    <div class="d-flex align-items-center ms-auto">
      <% if user_signed_in? %>
        <h4 class="mb-0">
          <%= link_to "Add your TimeMachine", new_time_machine_path, class: "logo-title ms-2 mb-0 p-2" %>
        </h4>
      <% end %>

      <ul class="navbar-nav ms-3">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Time Machines", time_machines_mine_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", bookings_mine_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
