<!DOCTYPE html>
<html>
  <head>
    <title>TimeMachineBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
    <% unless (params[:controller] == "time_machines" && params[:action] == "new" ) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
